In [1]:
import csv
from datetime import datetime
import requests
from bs4 import BeautifulSoup

In [37]:
def get_url(position, location):
    template = 'https://malaysia.indeed.com/jobs?q={}&l={}'
    position = position.replace(' ', '+')
    location = location.replace(' ', '+')
    url = template.format(position, location)
    return url

In [38]:
url = get_url('data scientist', 'kuala lumpur')
print(url)

https://malaysia.indeed.com/jobs?q=data+scientist&l=kuala+lumpur

In [39]:
response = requests.get(url)

In [40]:
response

In [41]:
response.reason

''

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

In [50]:
soup = BeautifulSoup(response.text, 'html.parser')

In [67]:
cards = soup.find_all('div', 'job_seen_beacon')

In [243]:
card = cards[1]
print(card)

<div class="job_seen_beacon"><table cellpadding="0" cellspacing="0" class="jobCard_mainContent" role="presentation"><tbody><tr><td class="resultContent"><div class="heading4 color-text-primary singleLineTitle tapItem-gutter"><h2 class="jobTitle jobTitle-color-purple jobTitle-newJob"><div class="new topLeft holisticNewBlue desktop"><span class="label">new</span></div><span title="Data Science Analyst">Data Science Analyst</span></h2></div><div class="heading6 company_location tapItem-gutter"><pre><span class="companyName">Metapair</span><div class="companyLocation">Kuala Lumpur<span class="remote-bullet">•</span><span>Remote</span></div></pre></div><div class="heading6 tapItem-gutter metadataContainer"><div class="metadata salary-snippet-container"><div aria-label="RM 3,000 to RM 4,000 a month" class="salary-snippet"><span>RM 3,000 - RM 4,000 a month</span></div></div></div><div class="heading6 error-text tapItem-gutter"></div></td></tr></tbody></table><table class="jobCardShelfContainer" role="presentation"><tbody><tr class="jobCardShelf"><td class="shelfItem indeedApply"><span class="iaIcon"></span><span class="ialbl iaTextBlack">Apply without logging in</span></td><td class="shelfItem responsiveEmployer"><div><span class="responsiveEmployerIcon"></span>Responsive employer</div></td></tr><tr class="underShelfFooter"><td><div class="heading6 tapItem-gutter result-footer"><div class="job-snippet"><ul style="list-style-type:circle;margin-top: 0px;margin-bottom: 0px;padding-left:20px;">
<li style="margin-bottom:0px;">Telling a story with <b>data</b> and <b>data</b> visualisation.</li>
<li style="margin-bottom:0px;">Extending the company’s <b>data</b> with third party sources of information when needed.</li>
<li>A Deep understanding of NLP.</li>
</ul></div><span class="date"><span class="visually-hidden">Employer</span>Active 3 days ago</span><span class="result-link-bar-separator">·</span><button aria-expanded="false" class="sl resultLink more_links_button" type="button">More...</button></div><div class="tab-container"><div class="more-links-container result-tab" role="presentation"><div class="more_links"><button aria-label="Close" class="close-button" title="Close" type="button"></button><ul><li><span class="mat">View all <a href="/Metapair-jobs">Metapair jobs</a> - <a href="/jobs-in-Kuala-Lumpur">Kuala Lumpur jobs</a></span></li><li><span class="mat">Salary Search: <a href="/career/data-scientist/salaries/Kuala-Lumpur?campaignid=serp-more&amp;fromjk=d6ae7c1fa4ad9e73&amp;from=serp-more">Data Science Analyst salaries in Kuala Lumpur</a></span></li></ul></div></div></div></td></tr></tbody></table><div aria-live="polite"></div></div>

In [244]:
job_title = card.find('div','heading4 color-text-primary singleLineTitle tapItem-gutter').get_text('title').replace('newtitle', '')

print(job_title)

Data Science Analyst

In [245]:
company = card.find('span', 'companyName').text.strip()
print(company)

Metapair

In [246]:
job_location = card.find('div', 'companyLocation').text.replace('•Temporarily Remote', '').replace('•Remote', '')
print(job_location)

Kuala Lumpur

In [253]:
post_date = card.find('span', 'date').text.replace('Posted', '').replace('EmployerActive ', '')
today = datetime.today().strftime('%Y-%m-%d')
print(post_date)
print(today)

3 days ago
2022-01-07

In [261]:
# this does not exists for all jobs, so handle the exceptions
try: 
    salary = card.find('div','metadata salary-snippet-container').get_text('aria-label').replace(' a month', '')
    print(salary)
except:
    salary = ''

RM 3,000 - RM 4,000

In [262]:
summary = card.find('div', 'job-snippet').text.strip().replace('\n', ' ')
print(summary)

Telling a story with data and data visualisation. Extending the company’s data with third party sources of information when needed. A Deep understanding of NLP.

In [263]:
record = (job_title, company, job_location, post_date, today, summary, salary)

In [264]:
print(record)

('Data Science Analyst', 'Metapair', 'Kuala Lumpur', '3 days ago', '2022-01-07', 'Telling a story with data and data visualisation. Extending the company’s data with third party sources of information when needed. A Deep understanding of NLP.', 'RM 3,000 - RM 4,000')

In [266]:
def get_record(card):
    """Extract job data from a single record"""
    
    job_title = card.find('div','heading4 color-text-primary singleLineTitle tapItem-gutter').get_text('title').replace('newtitle', '')
    company = card.find('span', 'companyName').text.strip()
    job_location = card.find('div', 'companyLocation').text.replace('•Temporarily Remote', '').replace('•Remote', '')
    post_date = card.find('span', 'date').text.replace('Posted', '').replace('EmployerActive ', '')
    today = datetime.today().strftime('%Y-%m-%d')
    summary = card.find('div', 'job-snippet').text.strip().replace('\n', ' ')

    # this does not exists for all jobs, so handle the exceptions
    try: 
        salary = card.find('div','metadata salary-snippet-container').get_text('aria-label').replace(' a month', '')
        print(salary)
    except:
        salary = ''  
        
    record = (job_title, company, job_location, post_date, today, summary, salary)
    return record

In [267]:
records = []

for card in cards:
    record = get_record(card)
    records.append(record)

RM 3,000 - RM 4,000
RM 5,000 - RM 8,000
RM 4,000 - RM 10,000
RM 5,000 - RM 7,000

In [273]:
records

[('Data Scientist - Customer and Propositions',
  'HSBC',
  'Kuala Lumpur',
  '30+ days ago',
  '2022-01-07',
  'Leverage existing data and identify new data sources to drive proposition development. Mine through large data sets to uncover trends, insights, and…',
  ''),
 ('Data Science Analyst',
  'Metapair',
  'Kuala Lumpur',
  '3 days ago',
  '2022-01-07',
  'Telling a story with data and data visualisation. Extending the company’s data with third party sources of information when needed. A Deep understanding of NLP.',
  'RM 3,000 - RM 4,000'),
 ('Internship, Data Analyst',
  'AXIATA DIGITAL & ANALYTICS',
  'Kuala Lumpur',
  '15 days ago',
  '2022-01-07',
  'Reach out to multiple stakeholders , business vertical, data engineer, data scientist and dashboard developer to document the data schema , process flow and…',
  ''),
 ('Data Scientist',
  'RHB Bank Berhad',
  'Kuala Lumpur',
  '1 day ago',
  '2022-01-07',
  'Demonstrate efficiency through contributing to and applying bank-wide best practices in analytics and data. Assess applicability of advanced analytics methods…',
  'RM 5,000 - RM 8,000'),
 ('Data Scientist',
  'BIOQUEST ADVISORY SDN. BHD.',
  'Kuala Lumpur',
  '6 days ago',
  '2022-01-07',
  'Working with our client’s data team to source and collate data from various entities for later use by junior data scientists. In-depth understanding of SQL.',
  'RM 4,000 - RM 10,000'),
 ('Data Scientist',
  'Amili',
  'Kuala Lumpur',
  '2 days ago',
  '2022-01-07',
  'Defining clear technical specifications from high-level business requirements. Determining the most fruitful approaches, and have the motivation to explore them…',
  'RM 5,000 - RM 7,000'),
 ('SEA Data Scientist (Associate/Analyst/Consultant)',
  'Deloitte',
  'Kuala Lumpur',
  '30+ days ago',
  '2022-01-07',
  'Prior exposure to the field of data science working with structured data is preferred, in particular, applying supervised and unsupervised machine learning…',
  ''),
 ('Data Scientist',
  'AXIATA DIGITAL & ANALYTICS',
  'Kuala Lumpur',
  '15 days ago',
  '2022-01-07',
  'Driving efficiencies in business with automation of data and information, and identifying areas of opportunity where existing data could provide enhanced…',
  ''),
 ('Strategic Customer Insights Data Scientist',
  'HSBC',
  'Kuala Lumpur',
  '30+ days ago',
  '2022-01-07',
  'Synthesize complex data analysis and insights into easy to understand, effective data storytelling. Lead projects related to text analytics, predictive…',
  ''),
 ('Data Scientist',
  'AirAsia',
  'Kuala Lumpur',
  '30+ days ago',
  '2022-01-07',
  'Exploratory analysis: use data to suggest and prove hypotheses. Data operations: query data, deploy models and automate pipelines in cloud.',
  ''),
 ('Data Scientist',
  'SOCAR Mobility Asia',
  'Kuala Lumpur',
  '1 day ago',
  '2022-01-07',
  'Analyze historical loss events from a mixture of motor insurance claims data and cash repairs within SOCAR and Trevo, and classify policy holders into clusters…',
  ''),
 ('Internship, Data Analyst',
  'ADA',
  'Kuala Lumpur',
  '30+ days ago',
  '2022-01-07',
  'Reach out to multiple stakeholders , business vertical, data engineer, data scientist and dashboard developer to document the data schema , process flow and…',
  ''),
 ('Campaign Scientist',
  'AirAsia',
  'Kuala Lumpur',
  '1 day ago',
  '2022-01-07',
  'Serve as technical subject expert by understand underlying data, database, data processes and derivations to provide appropriate consultation / recommendation…',
  ''),
 ('Data Scientist - Data Cycling Center',
  'TikTok',
  'Kuala Lumpur',
  '30+ days ago',
  '2022-01-07',
  'Liaise with team members and management in understanding their data needs and providing data support. Understand underlying data sources and their limitations.',
  ''),
 ('Data Scientist',
  'Supahands Dotcom Sdn Bhd',
  'Kuala Lumpur',
  '22 days ago',
  '2022-01-07',
  'Every data scientist at Supahands will be given ownership of the entire data science process. Develop custom data models and algorithms to apply to data sets.',
  '')]

In [318]:
while True:
    try:
        url = 'https://malaysia.indeed.com' + soup.find('a', {'aria-label': '2'}).get('href')
        print(url)
    except AttributeError:
        break

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    cards = soup.find_all('div', 'job_seen_beacon')

    for card in cards:
        record = get_record(card)
        records.append(record)

https://malaysia.indeed.com/jobs?q=data+scientist&l=kuala+lumpur&start=10

In [327]:
import csv
from datetime import datetime
import requests
from bs4 import BeautifulSoup


def get_url(position, location):
    template = 'https://malaysia.indeed.com/jobs?q={}&l={}'
    position = position.replace(' ', '+')
    location = location.replace(' ', '+')
    url = template.format(position, location)
    return url


def get_record(card):
    """Extract job data from a single record"""
    
    job_title = card.find('div','heading4 color-text-primary singleLineTitle tapItem-gutter').get_text('title').replace('newtitle', '')
    company = card.find('span', 'companyName').text.strip()
    job_location = card.find('div', 'companyLocation').text.replace('•Temporarily Remote', '').replace('•Remote', '')
    post_date = card.find('span', 'date').text.replace('Posted', '').replace('EmployerActive ', '')
    today = datetime.today().strftime('%Y-%m-%d')
    summary = card.find('div', 'job-snippet').text.strip().replace('\n', ' ')

    # this does not exists for all jobs, so handle the exceptions
    try: 
        salary = card.find('div','metadata salary-snippet-container').get_text('aria-label').replace(' a month', '').replace(' a year', '')
        print(salary)
    except:
        salary = ''  
        
    record = (job_title, company, job_location, post_date, today, summary, salary)
    return record


def main(position, location):
    """Run the main program routine"""
    records = []
    url = get_url(position, location)
    next = 2
    # extract the job data
    while True:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        cards = soup.find_all('div', 'job_seen_beacon')
        
        for card in cards:
            record = get_record(card)
            records.append(record)
        try:
            url = 'https://malaysia.indeed.com' + soup.find('a', {'aria-label': str(next)}).get('href')
            print(url)
            next = next+1
            print(next)
        except AttributeError:
            break
        
    # save the job data
    with open('results.csv', 'w', newline='', encoding='utf-8') as f:
        writer = csv.writer(f)
        writer.writerow(['JobTitle', 'Company', 'Location', 'PostDate', 'ExtractDate', 'Summary', 'Salary'])
        writer.writerows(records)

In [329]:
# run the main program
main('data science', 'kuala lumpur')

RM 5,000 - RM 7,000
RM 3,000 - RM 4,000
RM 1,030
RM 750
RM 3,500 - RM 5,500
RM 5,000 - RM 5,999
RM 500 - RM 800
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=10
3
RM 2,000 - RM 2,499
RM 3,308 - RM 11,744
RM 1,200 - RM 1,500
RM 800 - RM 1,000
RM 4,000 - RM 10,000
RM 1,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=20
4
RM 3,000 - RM 8,000
RM 2,500 - RM 4,500
RM 3,200
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=30
5
RM 6,000
RM 3,000 - RM 8,000
RM 800
RM 2,800 - RM 4,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=40
6
RM 7,000 - RM 12,000
RM 3,000 - RM 3,499
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=50
7
RM 4,500 - RM 5,500
RM 2,800 - RM 3,500
RM 8,000 - RM 9,999
RM 5,000 - RM 13,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=60
8
RM 5,500
RM 800
RM 6,000 - RM 8,000
RM 4,000 - RM 8,000
RM 3,500 - RM 5,000
RM 1,000
RM 4,000 - RM 4,500
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=70
9
RM 3,000 - RM 3,500
RM 8,000 - RM 9,999
RM 8,500
RM 2,500 - RM 4,500
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=80
10
RM 4,000 - RM 5,000
RM 3,500
RM 3,500 - RM 5,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=90
11
RM 3,000 - RM 3,500
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=100
12
RM 2,500 - RM 4,000
RM 108,000
RM 10,000 - RM 12,999
RM 2,500 - RM 3,000
RM 10,000 - RM 15,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=110
13
RM 3,200 - RM 5,136
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=120
14
RM 3,000 - RM 5,000
RM 3,000 - RM 3,499
RM 3,000 - RM 6,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=130
15
RM 3,000 - RM 6,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=140
16
RM 5,500 - RM 8,000
RM 2,000 - RM 8,000
RM 3,236
RM 2,000
RM 500 - RM 800
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=150
17
RM 500 - RM 800
RM 800 - RM 900
RM 3,553 - RM 10,000
RM 800 - RM 1,000
RM 10,000 - RM 17,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=160
18
RM 4,000 - RM 5,000
RM 1,800 - RM 4,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=170
19
RM 4,000 - RM 4,500
RM 3,500 - RM 3,999
RM 3,000 - RM 3,499
RM 8,000 - RM 9,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=180
20
RM 4,000
RM 600 - RM 900
RM 3,000 - RM 4,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=190
21
RM 2,500
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=200
22
RM 3,500 - RM 5,001
RM 3,800
RM 36,000 - RM 60,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=210
23
RM 10,000 - RM 17,000
RM 11,587
RM 6,000 - RM 7,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=220
24
RM 4,000 - RM 6,000
RM 8,000 - RM 9,999
RM 5,000 - RM 8,000
RM 900
RM 4,500 - RM 8,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=230
25
RM 3,300 - RM 4,000
RM 3,000 - RM 3,499
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=240
26
RM 4,000 - RM 5,000
RM 4,000 - RM 4,999
RM 8,000 - RM 9,999
RM 2,000 - RM 6,000
RM 5,000 - RM 5,999
RM 3,000 - RM 3,499
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=250
27
RM 12,400
RM 8,000 - RM 9,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=260
28
RM 10,000 - RM 12,999
RM 6,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=270
29
RM 4,500 - RM 7,500
RM 5,000 - RM 8,000
RM 8,000 - RM 15,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=280
30
RM 1,200
RM 4,000 - RM 5,300
RM 4,500 - RM 7,500
RM 8,000 - RM 9,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=290
31
RM 8,000 - RM 9,999
RM 5,000 - RM 7,000
RM 8,000 - RM 9,999
RM 20,000
RM 2,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=300
32
RM 3,000 - RM 3,200
RM 10,000
RM 8,000
RM 6,000 - RM 8,500
RM 5,000 - RM 9,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=310
33
RM 5,000 - RM 9,000
RM 8,000 - RM 9,999
RM 2,500 - RM 3,500
RM 390,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=320
34
RM 3,000 - RM 8,000
RM 10,000 - RM 12,999
RM 3,000 - RM 3,499
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=330
35
RM 6,000 - RM 7,000
RM 20,000 - RM 25,000
RM 10,000 - RM 12,999
RM 13,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=340
36
RM 10,000 - RM 12,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=350
37
RM 6,000 - RM 7,999
RM 5,000 - RM 5,999
RM 6,000 - RM 12,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=360
38
RM 10,000 - RM 12,999
RM 2,500 - RM 6,000
RM 6,500
RM 4,500 - RM 8,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=370
39
RM 4,500 - RM 6,000
RM 2,699 - RM 4,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=380
40
RM 15,000 - RM 18,000
RM 7,000 - RM 9,000
RM 5,000 - RM 7,000
RM 10,000 - RM 12,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=390
41
RM 2,500 - RM 4,000
RM 5,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=400
42
RM 15,000 - RM 16,000
RM 4,000
RM 2,100 - RM 3,000
RM 3,000 - RM 5,000
RM 3,000 - RM 7,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=410
43
RM 9,000 - RM 15,000
RM 7,000
RM 11,939
RM 3,541 - RM 10,896
RM 7,000 - RM 9,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=420
44
RM 6,000 - RM 7,999
RM 5,000 - RM 16,000
RM 8,000 - RM 9,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=430
45
RM 4,000 - RM 4,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=440
46
RM 4,000 - RM 7,000
RM 17,000 - RM 18,000
RM 6,000 - RM 10,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=450
47
RM 5,000 - RM 5,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=460
48
RM 7,000 - RM 9,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=470
49
RM 5,000 - RM 8,000
RM 1,200 - RM 1,501
RM 3,000 - RM 3,500
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=480
50
RM 5,000 - RM 10,000
RM 10,000 - RM 12,000
RM 4,000 - RM 7,500
RM 4,000 - RM 6,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=490
51
RM 4,000 - RM 6,000
RM 3,000 - RM 3,500
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=500
52
RM 4,800 - RM 5,500
RM 22,000 - RM 30,000
RM 3,500 - RM 8,000
RM 6,000
RM 4,214 - RM 11,364
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=510
53
RM 8,000 - RM 9,999
RM 5,000 - RM 13,000
RM 5,000 - RM 8,500
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=520
54
RM 8,000 - RM 9,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=530
55
RM 4,000 - RM 6,000
RM 4,000 - RM 5,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=540
56
RM 3,432 - RM 10,389
RM 3,000 - RM 7,000
RM 9,000
RM 6,000 - RM 12,000
RM 6,000
RM 3,000 - RM 12,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=550
57
RM 3,000 - RM 12,000
RM 20,000
RM 6,000 - RM 7,999
RM 8,000 - RM 9,999
RM 3,000 - RM 5,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=560
58
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=570
59
RM 6,000 - RM 7,999
RM 3,000 - RM 5,000
RM 8,001 - RM 14,001
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=580
60
RM 13,000 - RM 15,999
RM 6,000 - RM 12,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=590
61
RM 9,000 - RM 9,500
RM 3,000 - RM 5,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=600
62
RM 7,000 - RM 12,000
RM 8,000 - RM 9,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=610
63
RM 7,000
RM 7,000 - RM 15,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=620
64

RM 6,000 - RM 9,000
RM 8,000 - RM 9,999
RM 36,000 - RM 60,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=630
65
RM 4,000 - RM 9,000
RM 4,000 - RM 6,000
RM 5,000 - RM 9,000
RM 10,000 - RM 15,000
RM 4,000 - RM 10,000
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=640
66
RM 10,000
RM 6,000 - RM 7,999
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=650
67
https://malaysia.indeed.com/jobs?q=data+science&l=kuala+lumpur&start=660
68
RM 3,000 - RM 4,200